---

---

<div class="rounded-lg mt-4 flex justify-center items-center sm:p-4">
    <div class="relative aspect-w-1 aspect-h-1 sm:aspect-w-16 sm:aspect-h-9 md:aspect-w-4 md:aspect-h-3 lg:aspect-w-3 lg:aspect-h-2 xl:aspect-w-2 xl:aspect-h-1">
      <img class="rounded-lg max-w-full h-full object-cover" src="/Image (4).png" alt="" />
      <div class="absolute inset-0 flex justify-center items-center">
        <div class="flex items-center justify-around  w-full">
                <div>
                    <h1 class="text-center font-bold text-white text-4xl">Subscribe to <br> our Newsletter</h1>
                </div>

                <div class="flex ">
                    <input type="text" placeholder="Type here" class="input  input-lg  	 input-bordered w-full max-w-xs" />
                    <button class="btn btn-lg		 btn-primary ml-2">Subscribe</button>
                </div>
        </div>
      </div>
    </div>
  </div>

  
  