---

---

<footer class="footer p-10 bg-base-100 text-base-content w-full">
  <nav class="flex flex-col justify-center items-center">
    <h1 class="text-4xl text-primary font-bold">Contact us</h1>
    <h6 class="footer-title">Email</h6>
    <a class="link link-hover">needhelp@Organia.com</a>
    <a class="footer-title">Phone</a>
    <a class="link link-hover">666 888 888</a>
    <a class="footer-title">Addres</a>
    <a class="link link-hover">88 road, borklyn street, USA</a>
  </nav>


  <nav class="flex flex-col justify-center items-center">
    <img src="/Logo (1).png" class="mx-auto" />
    <br />
    <p class="text-center text-neutral text-xl">
      Simply dummy text of the printing and typesetting industry. <br />
      Lorem Ipsum simply dummy text of the printing
    </p>
    <br />
    <div class="flex gap-4 justify-center">
      <button class="btn btn-circle">
        <img src="/Insta.png" class="mx-auto" />
      </button>

      <button class="btn btn-circle">
        <img src="/Vector (1).png" class="mx-auto" />
      </button>

      <button class="btn btn-circle">
        <img src="/Vector (2).png" class="mx-auto" />
      </button>

      <button class="btn btn-circle">
        <img src="/Vector.png" class="mx-auto" />
      </button>
    </div>
  </nav>
</footer>
