---
import '@fontsource/yellowtail';

---

<div class="hero w-full bg-base-100">
  <div class="hero-content flex-col lg:flex-row">
    <img src="/Photo.png" class="w-full md:w-1/2" />
    <div class="w-full">
      <h1 class="text-3xl text-secondary">About us</h1>
      <p class="py-6 text-primary text-5xl font-bold">We Believe in Working  <br> Accredited Farmers</p>

      <p class="text-xl">
        Simply dummy text of the printing and typesetting industry. Lorem had
        ceased to been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley.
      </p>

      <div class="w-full md:w-1/2">
        <div class="flex p-2 w-full gap-2">
          <div>
            <img src="/Icon.png" class="max-w-lg rounded-lg shadow-2xl" />
          </div>

          <div class="">
            <p class="text-primary font-bold text-2xl">Organic Foods Only</p>
            <p class="text-lg">Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
          </div>
        </div>

        <div class="flex p-2 gap-2">
          <div>
            <img src="/Icon.png" class="max-w-lg rounded-lg shadow-2xl" />
          </div>

          <div>
            <p class="text-primary font-bold text-2xl">Quality Standards</p>
            <p class="text-lg">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      
      <div class="w-full flex justify-center md:justify-start mt-5"><button class="btn md:btn-lg btn-xs btn-primary">shop now</button></div>
    </div>
  </div>
</div>

<style>
  h1{
    font-family: "yellowtail", cursive;
  }
</style>