---
import Botonbanner from "./Botonbanner.astro"
import '@fontsource/yellowtail';

---


<div class="hero min-h-96" style='background-image: url("/Banner.jpg");'>
    <div class="hero-content w-full justify-start text-left text-neutral-content ">
      <div class="max-w-md">
        <h1 class="mb-5 text-2xl  text-secondary font ">100% natural food</h1>
        <p class="mb-5 text-5xl font-bold">Choose the best 
            healthier way
            of life</p>
        <Botonbanner/>
      </div>
    </div>
  </div>

  <style>
    h1 {
      font-family: "yellowtail", cursive;
    }
  </style>