---
import "@fontsource/yellowtail";
---

<div class="hero w-full min-h-screen" style="background-image: url(/Background.png);">

  <div class="hero-content text-center text-neutral-content">
    <div class="w-full">
      <h1 class="mb-5 text-5xl text-secondary">Testimonial</h1>
      <h3 class="mb-5 text-4xl font-bold text-primary">What Our Customer Saying?</h3>
      <div class="avatar">
        <div class="w-24 rounded-full">
          <img
            src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
          />
        </div>
      </div>
      <br />
      <div class="rating rating-sm">
        <input
          type="radio"
          name="rating-6"
          class="mask mask-star-2 bg-orange-400"
          checked
        />
        <input
          type="radio"
          name="rating-6"
          class="mask mask-star-2 bg-orange-400"
          checked
        />
        <input
          type="radio"
          name="rating-6"
          class="mask mask-star-2 bg-orange-400"
          checked
        />
        <input
          type="radio"
          name="rating-6"
          class="mask mask-star-2 bg-orange-400"
          checked
        />
        <input
          type="radio"
          name="rating-6"
          class="mask mask-star-2 bg-orange-400"
          checked
        />
      </div>

      <p>
        Simply dummy text of the printing and typesetting industry. Lorem Ipsum
        simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been.
      </p>

      <h2 class="text-primary text-xl font-bold">Sara taylor</h2>
      <p class="text-primary text-lg">Consumer</p>

      <hr />
      <br />
      <div class="flex gap-2 w-full justify-center items-center flex-wrap">
        <div class="avatar placeholder p-2">
          <div
            class="bg-base-100 text-neutral-content rounded-full w-32 flex flex-col ring ring-secondary ring-offset-white ring-offset-2"
          >
            <span class="text-3xl font-bold text-primary">100%</span>
            <span class="text-xl text-primary">Organic</span>
          </div>
        </div>

        <div class="avatar placeholder p-2">
          <div
            class="bg-base-100 text-neutral-content rounded-full w-32 flex flex-col ring ring-secondary ring-offset-white ring-offset-2"
          >
            <span class="text-3xl font-bold text-primary">285</span>
            <span class="text-xl text-primary">Active product</span>
          </div>
        </div>
        <div class="avatar placeholder p-2">
          <div
            class="bg-base-100 text-neutral-content rounded-full w-32 flex flex-col ring ring-secondary ring-offset-white ring-offset-2"
          >
            <span class="text-3xl font-bold text-primary">350+</span>
            <span class="text-xl text-primary">Organic Orchads</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  h1{
    font-family: "yellowtail", cursive;
  }
</style>